<!-- component -->
{% extends 'base.html' %} {% block content %}

<!-- input area -->
<div class="flex antialiased text-gray-800 shadow-xl rounded-lg m-2">
  <div class="flex flex-row flex-wrap w-full overflow-auto px-1 600 border-2">
    <div class="flex flex-row w-full">
      <div
        class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
      >
        <div>
          <button
            class="flex items-center justify-center text-gray-400 hover:text-gray-600"
            onclick="file_sender()"
          >
            <!-- <input type="file" id="myFile" name="file" hidden/> -->
            <!-- <label for="myFile"> -->
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
              ></path>
            </svg>
            <!-- </label> -->
          </button>
          
        </div>

        <div class="flex-grow ml-4">
          <div class="relative w-full">
            <input
              type="text"
              class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
              id="take_input"
            />
          </div>
        </div>

        <div class="ml-4">
          <button
            class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
            id="btn"
            onclick="go()"
          >
            <span>Send</span>
            <span class="ml-2">
              <svg
                class="w-4 h-4 transform rotate-45 -mt-px"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                ></path>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- input area -->

<br />

<!-- Recieve and send messages -->
<div class="flex flex-row">
  <p class="text-center font-serif ml-16 md:ml-32 text-lg  px-3 rounded-lg " id="clients">
   all offline
  </p>
  <div id="file_panel" class=" ml-10 hidden">
    <form method="post" action="/online" enctype="multipart/form-data">
      <div class="container border shadow-lg w-fit p-2 m-2">
      <!-- <input type="file" id="myFile" name="file" /> -->
      <input type='file' accept='image/*' onchange='openFile(event)' id="myFile" name="file"><br>
      <img id='output' class="hidden" style="height:100px; width:100px;">
      </div>
      <input
        class="rounded-lg border-2 px-2 bg-white text-black hover:text-white hover:bg-indigo-500 transition ease-in-out duration-300 font-serif"
        type="submit"
        value="send file"
        name="send"
      />
    </form>
  </div>
</div>
<!-- Recieve and send messages close/end -->

<!-- labels -->
<div class="flex flex-row justify-between">
  <p class="text-center font-serif ml-16 md:ml-32">received :</p>
  <p class="text-center font-serif mr-16 md:mr-32">You({{user}}) :</p>
</div>


<!-- content -->
<!-- show all messges -->
<div class="flex flex-row justify-between">
  <div class="container border-2 h-[60vh] w-[50vh] ml-10 overflow-scroll">
    <div class="messages font-sans flex-wrap mx-2">
      <ul id="r_msg">
        <li></li>
      </ul>
    </div>
  </div>
  <div class="container border-2 h-[60vh] w-[50vh] mr-10 overflow-scroll">
    <div class="messages font-sans flex-wrap mx-2">
      <ul id="s_msg">
        <li></li>
      </ul>
    </div>
  </div>
</div>

 <a href="/downloads"> <p class="text-white" id="d">D</p></a>
{% endblock content %}
